compiler_projects/EDE/*.CS_
compiler_projects/EDE/*.abs
compiler_projects/EDE/*.bak
compiler_projects/EDE/*.cmd
compiler_projects/EDE/*.dmp
compiler_projects/EDE/*.err
compiler_projects/EDE/*.ic
compiler_projects/EDE/*.ii
compiler_projects/EDE/*.ilo
compiler_projects/EDE/*.inc
compiler_projects/EDE/*.lno
compiler_projects/EDE/*.lst
compiler_projects/EDE/*.mak
compiler_projects/EDE/*.map
compiler_projects/EDE/*.obj
compiler_projects/EDE/*.olf
compiler_projects/EDE/*.opm
compiler_projects/EDE/*.out
compiler_projects/EDE/*.smp
compiler_projects/EDE/*.src
compiler_projects/EDE/*.ti
compiler_projects/EDE/*.xvo
doc/html/*.dot
doc/html/*.html
doc/html/*.map
doc/html/*.md5
doc/html/*.png
