* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Doxyfile -text
IsoAgLib_Examples/README_LICENSED_PARTS.txt -text
IsoAgLib_Examples/Taskcontroller_Classes/defaultrecordconfig_c.cpp -text
IsoAgLib_Examples/Taskcontroller_Classes/defaultrecordconfig_c.h -text
IsoAgLib_Examples/Taskcontroller_Classes/getyflexmanager_c.cpp -text
IsoAgLib_Examples/Taskcontroller_Classes/getyflexmanager_c.h -text
IsoAgLib_Examples/Taskcontroller_Classes/gpsmanager_c.cpp -text
IsoAgLib_Examples/Taskcontroller_Classes/gpsmanager_c.h -text
IsoAgLib_Examples/Taskcontroller_Classes/procdatamanager_c.cpp -text
IsoAgLib_Examples/Taskcontroller_Classes/procdatamanager_c.h -text
IsoAgLib_Examples/Taskcontroller_Classes/specificrecordconfig_c.cpp -text
IsoAgLib_Examples/Taskcontroller_Classes/specificrecordconfig_c.h -text
IsoAgLib_Examples/config_Taskcontroller.h -text
IsoAgLib_Examples/imi.cpp -text
IsoAgLib_Examples/taskcontroller.cpp -text
IsoAgLib_Examples/test_hal.cpp -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_0_AddressClaimIso/0_0_AddressClaimIso.cpp -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_0_AddressClaimIso/TutPrjDesc0_0_AddressClaimIso.txt -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_0_AddressClaimIso/config_0_0_AddressClaimIso.h -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_1_AddressClaimDin/0_1_AddressClaimDin.cpp -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_1_AddressClaimDin/TutPrjDesc0_1_AddressClaimDin.txt -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_1_AddressClaimDin/config_0_1_AddressClaimDin.h -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_2_AddressClaimFlexible/0_2_AddressClaimFlexible.cpp -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_2_AddressClaimFlexible/TutPrjDesc0_2_AddressClaimFlexible.txt -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_2_AddressClaimFlexible/config_0_2_AddressClaimFlexible.h -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_3_LookupIso/0_3_LookupIso.cpp -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_3_LookupIso/TutPrjDesc0_3_LookupIso.txt -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_3_LookupIso/config_0_3_LookupIso.h -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_4_LookupDin/0_4_LookupDin.cpp -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_4_LookupDin/TutPrjDesc0_4_LookupDin.txt -text
IsoAgLib_Examples/tutorial/0_SystemMgmt/0_4_LookupDin/config_0_4_LookupDin.h -text
IsoAgLib_Examples/tutorial/1_BaseData/1_0_ReadIso/1_0_ReadIso.cpp -text
IsoAgLib_Examples/tutorial/1_BaseData/1_0_ReadIso/TutPrjDesc1_0_ReadIso.txt -text
IsoAgLib_Examples/tutorial/1_BaseData/1_0_ReadIso/config_1_0_ReadIso.h -text
IsoAgLib_Examples/tutorial/1_BaseData/1_1_ReadDin/1_1_ReadDin.cpp -text
IsoAgLib_Examples/tutorial/1_BaseData/1_1_ReadDin/TutPrjDesc1_1_ReadDin.txt -text
IsoAgLib_Examples/tutorial/1_BaseData/1_1_ReadDin/config_1_1_ReadDin.h -text
IsoAgLib_Examples/tutorial/1_BaseData/1_2_WriteIso/1_2_WriteIso.cpp -text
IsoAgLib_Examples/tutorial/1_BaseData/1_2_WriteIso/TutPrjDesc1_2_WriteIso.txt -text
IsoAgLib_Examples/tutorial/1_BaseData/1_2_WriteIso/config_1_2_WriteIso.h -text
IsoAgLib_Examples/tutorial/1_BaseData/1_3_WriteDin/1_3_WriteDin.cpp -text
IsoAgLib_Examples/tutorial/1_BaseData/1_3_WriteDin/TutPrjDesc1_3_WriteDin.txt -text
IsoAgLib_Examples/tutorial/1_BaseData/1_3_WriteDin/config_1_3_WriteDin.h -text
IsoAgLib_Examples/tutorial/1_BaseData/1_4_WriteFlexibleIso/1_4_WriteFlexibleIso.cpp -text
IsoAgLib_Examples/tutorial/1_BaseData/1_4_WriteFlexibleIso/TutPrjDesc1_4_WriteFlexibleIso.txt -text
IsoAgLib_Examples/tutorial/1_BaseData/1_4_WriteFlexibleIso/config_1_4_WriteFlexibleIso.h -text
IsoAgLib_Examples/tutorial/1_BaseData/1_5_WriteFlexibleDin/1_5_WriteFlexibleDin.cpp -text
IsoAgLib_Examples/tutorial/1_BaseData/1_5_WriteFlexibleDin/TutPrjDesc1_5_WriteFlexibleDin.txt -text
IsoAgLib_Examples/tutorial/1_BaseData/1_5_WriteFlexibleDin/config_1_5_WriteFlexibleDin.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_0_LocalReadDataStdIso/2_0_LocalReadDataStdIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_0_LocalReadDataStdIso/TutPrjDesc2_0_LocalReadDataStdIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_0_LocalReadDataStdIso/config_2_0_LocalReadDataStdIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_10_RemoteWriteSetpointSimpleSetpointIso/2_10_RemoteWriteSetpointSimpleSetpointIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_10_RemoteWriteSetpointSimpleSetpointIso/TutPrjDesc2_10_RemoteWriteSetpointSimpleSetpointIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_10_RemoteWriteSetpointSimpleSetpointIso/config_2_10_RemoteWriteSetpointSimpleSetpointIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_1_LocalReadDataSimpleMeasureIso/2_1_LocalReadDataSimpleMeasureIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_1_LocalReadDataSimpleMeasureIso/TutPrjDesc2_1_LocalReadDataSimpleMeasureIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_1_LocalReadDataSimpleMeasureIso/config_2_1_LocalReadDataSimpleMeasureIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_2_LocalReadDataSimpleSetpointIso/2_2_LocalReadDataSimpleSetpointIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_2_LocalReadDataSimpleSetpointIso/TutPrjDesc2_2_LocalReadDataSimpleSetpointIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_2_LocalReadDataSimpleSetpointIso/config_2_2_LocalReadDataSimpleSetpointIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_3_LocalReadDataSimpleMeasureSetpointIso/2_3_LocalReadDataSimpleMeasureSetpointIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_3_LocalReadDataSimpleMeasureSetpointIso/TutPrjDesc2_3_LocalReadDataSimpleMeasureSetpointIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_3_LocalReadDataSimpleMeasureSetpointIso/config_2_3_LocalReadDataSimpleMeasureSetpointIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_4_LocalWriteSetpointStdIso/2_4_LocalWriteSetpointStdIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_4_LocalWriteSetpointStdIso/TutPrjDesc2_4_LocalWriteSetpointStdIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_4_LocalWriteSetpointStdIso/config_2_4_LocalWriteSetpointStdIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_5_LocalWriteSetpointSimpleMeasureIso/2_5_LocalWriteSetpointSimpleMeasureIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_5_LocalWriteSetpointSimpleMeasureIso/TutPrjDesc2_5_LocalWriteSetpointSimpleMeasureIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_5_LocalWriteSetpointSimpleMeasureIso/config_2_5_LocalWriteSetpointSimpleMeasureIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_6_LocalWriteSetpointSimpleSetpointIso/2_6_LocalWriteSetpointSimpleSetpointIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_6_LocalWriteSetpointSimpleSetpointIso/TutPrjDesc2_6_LocalWriteSetpointSimpleSetpointIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_6_LocalWriteSetpointSimpleSetpointIso/config_2_6_LocalWriteSetpointSimpleSetpointIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_7_RemoteReadDataStdIso/2_7_RemoteReadDataStdIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_7_RemoteReadDataStdIso/TutPrjDesc2_7_RemoteReadDataStdIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_7_RemoteReadDataStdIso/config_2_7_RemoteReadDataStdIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_8_RemoteReadDataSimpleMeasureIso/2_8_RemoteReadDataSimpleMeasureIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_8_RemoteReadDataSimpleMeasureIso/TutPrjDesc2_8_RemoteReadDataSimpleMeasureIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_8_RemoteReadDataSimpleMeasureIso/config_2_8_RemoteReadDataSimpleMeasureIso.h -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_9_RemoteWriteSetpointStdIso/2_9_RemoteWriteSetpointStdIso.cpp -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_9_RemoteWriteSetpointStdIso/TutPrjDesc2_9_RemoteWriteSetpointStdIso.txt -text
IsoAgLib_Examples/tutorial/2_ProcessData/2_9_RemoteWriteSetpointStdIso/config_2_9_RemoteWriteSetpointStdIso.h -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/3_0_VirtualTerminalIso.cpp -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/bitmaps/standard/simpleBitmap.bmp -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/bitmaps/vario/simpleBitmap240.bmp -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-0_Variables -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-1_Mask1Data -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-2_Mask2Alarm -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-attributes.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-defines.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-functions.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-handler-derived.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-handler-direct.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-list.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml-variables.inc -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml_derived-cpp.h -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml_derived-h.h -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/MaskDefinition/simpleVTIsoPool.xml_direct.h -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/TutPrjDesc3_0_VirtualTerminalIso.txt -text
IsoAgLib_Examples/tutorial/3_Terminal/3_0_VirtualTerminalIso/config_3_0_VirtualTerminalIso.h -text
IsoAgLib_Examples/tutorial/3_Terminal/3_1_LBSTerminalDin/3_1_LBSTerminalDin.cpp -text
IsoAgLib_Examples/tutorial/3_Terminal/3_1_LBSTerminalDin/TutPrjDesc3_1_LBSTerminalDin.txt -text
IsoAgLib_Examples/tutorial/3_Terminal/3_1_LBSTerminalDin/config_3_1_LBSTerminalDin.h -text
/README_LICENSED_PARTS.txt -text
/TODO.dox -text
admin/buildArchives/createRelease.sh -text
admin/buildArchives/generateArchives.sh -text
