* text=auto !eol
comm/Part10_TaskController_Client/iddidefinition-deprecated.h -text
comm/Part10_TaskController_Client/impl/pdconnection_c.cpp -text
comm/Part10_TaskController_Client/impl/pdconnection_c.h -text
comm/Part10_TaskController_Client/impl/pdpool_c.h -text
comm/Part10_TaskController_Client/impl/pdremotenode_c.cpp -text
comm/Part10_TaskController_Client/impl/pdremotenode_c.h -text
comm/Part10_TaskController_Client/impl/procdata/connectedpd_c.cpp -text
comm/Part10_TaskController_Client/impl/procdata/connectedpd_c.h -text
comm/Part10_TaskController_Client/impl/procdata/connectedpdremote_c.cpp -text
comm/Part10_TaskController_Client/impl/procdata/connectedpdremote_c.h -text
comm/Part10_TaskController_Client/impl/procdata/pdbase_c.cpp -text
comm/Part10_TaskController_Client/impl/procdata/pdbase_c.h -text
comm/Part10_TaskController_Client/impl/procdata/pdlocal_c.cpp -text
comm/Part10_TaskController_Client/impl/procdata/pdlocal_c.h -text
comm/Part10_TaskController_Client/impl/procdata/pdremote_c.cpp -text
comm/Part10_TaskController_Client/impl/procdata/pdremote_c.h -text
comm/Part10_TaskController_Client/impl/procdata/remotevalue_c.cpp -text
comm/Part10_TaskController_Client/impl/procdata/remotevalue_c.h -text
comm/Part10_TaskController_Client/ipdconnection_c.h -text
comm/Part10_TaskController_Client/ipdlocal_c.h -text
comm/Part10_TaskController_Client/ipdpool_c.h -text
comm/Part10_TaskController_Client/ipdremote_c.h -text
comm/Part10_TaskController_Client/itcclientconnection_c.h -text
comm/Part10_TaskController_Client/itcclientserver_c.h -text
comm/Part12_DiagnosticsServices/idiagnosticsservices_c.h -text
comm/Part12_DiagnosticsServices/idtccontainer_c.h -text
comm/Part12_DiagnosticsServices/impl/dtccontainer_c.cpp -text
comm/Part12_DiagnosticsServices/impl/dtccontainer_c.h -text
comm/Part13_FileServer_Client/impl/fsclientservercommunication_c.h -text
comm/Part6_VirtualTerminal_Client/impl/aux2inputs_c.h -text
comm/Part6_VirtualTerminal_Client/impl/commandhandler_c.cpp -text
comm/Part6_VirtualTerminal_Client/impl/commandhandler_c.h -text
comm/Part6_VirtualTerminal_Client/impl/multiplevt_c.cpp -text
comm/Part6_VirtualTerminal_Client/impl/multiplevt_c.h -text
comm/Part6_VirtualTerminal_Client/impl/uploadpoolstate_c.cpp -text
comm/Part6_VirtualTerminal_Client/impl/uploadpoolstate_c.h -text
comm/Part6_VirtualTerminal_Client/impl/vtserverinstance_c.cpp -text
comm/Part6_VirtualTerminal_Client/impl/vtservermanager_c.cpp -text
comm/Part6_VirtualTerminal_Client/impl/vtservermanager_c.h -text
comm/Part6_VirtualTerminal_Client/ivtobjectauxiliarypointer_c.h -text
comm/Part7_ApplicationLayer/ignss_c.h -text
comm/Part7_ApplicationLayer/iisbclient_c.h -text
comm/Part7_ApplicationLayer/iisbstatehandler_c.h -text
comm/Part7_ApplicationLayer/impl/gnss_c.cpp -text
comm/Part7_ApplicationLayer/impl/gnss_c.h -text
comm/Part7_ApplicationLayer/impl/isbclient_c.cpp -text
comm/Part7_ApplicationLayer/impl/isbclient_c.h -text
comm/Part7_ApplicationLayer/impl/timedate_c.cpp -text
comm/Part7_ApplicationLayer/impl/timedate_c.h -text
comm/Part7_ApplicationLayer/itimedate_c.h -text
hal/pc/can/can_server_interface.inc -text
